@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Книжный магазин</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <section class="hero">
            <div class="container">
                <h2>Добро пожаловать в наш книжный мир!</h2>
                <p>Огромный выбор книг на любой вкус</p>
                <a href="#" class="button">Смотреть каталог</a>
            </div>
        </section>

        <section class="featured">
            <div class="container">
                <h2>Рекомендуем</h2>
                <div class="book-grid">
                </div>
            </div>
        </section>

        <section class="categories">
            <div class="container">
                <h2>Жанры</h2>
                <div class="category-grid">
                </div>
            </div>
        </section>
    </main>


    <script src="script.js"></script>
</body>
</html>

